body{
	padding-top: 100px;
}

div.navbar-header a.navbar-brand {
	width: 80%;
	font-size: 14px;
	padding: 10px;
}

@media (min-width: 480px) { 
	div.navbar-header a.navbar-brand {
		font-size: 18px;
		width: 100%;
		padding: 15px;
	}
	div.navbar-header {
		width: 100%;
	}
	div.navbar-header a.navbar-brand {
		white-space: nowrap;
  		overflow: hidden;
        text-overflow: ellipsis;
  		width: 85%;
	}
}
div.navbar.navbar-inverse.navbar-fixed-top{
	background-image: none;
	background-color: rgb(212,0,0);
}

.navbar-inverse .navbar-brand,.navbar-inverse .navbar-nav>li>a{
	color:white;
}

#transintro {
	padding-bottom: 150px;
}